<li class="sidebar-brand">
    <a href="#">
      All users
    </a>
</li>
{{#each users}}
  {{#if this.isOwner}}
    <li class='user-link' style="background:red">
      <a href="#" id="{{this._id}}">{{this.userName}}</a>
    </li>
  {{else}}
    <li class='user-link'>
      <a href="#" id="{{this._id}}">{{this.userName}}</a>
    </li>
  {{/if}}
{{/each}}
